body {
    background: #1D1D1B;
}

.container {
    max-width: 400px;
    margin-top: 20px;
}

input[type="text"],
input[type="text"]:focus {
    color: #fff;
    border: none;
    background: rgba(0, 0, 0, 0.2);
}

.players {
    max-height: 300px; /* Set the maximum height of the list */
    overflow-y: auto;  /* Enable vertical scrolling */
    margin-top: 20px;
    padding-left: 0;
}

.players li {
    background: #313131;
    cursor: pointer;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    list-style: none;
}

.similar-players-section {
    display: none; /* Initially hidden */
}

.similar-players {
    max-height: 200px; /* Set max height for scrolling */
    overflow-y: auto;  /* Enable vertical scrolling */
    padding-left: 0;
}

.similar-players li {
    background: #313131;
    cursor: pointer;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    list-style: none;
}

.filtered {
    display: none !important;
}

.cross {
    display: none; /* Hide cross icon by default */
    cursor: pointer;
}

.players li.selected .cross {
    display: inline; /* Show cross icon only when the item has the 'selected' class */
}

button.compare-button {
    /* background: #28a745; */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button.compare-button:hover {
    /* background: #218838; */
}

.table-responsive {
    display: none; /* Hide the table initially */
}

.table {
    color: white; /* Set the text color to white */
    margin: 10px 0;
    background-color: #313131;
}

.table th, .table td {
    color: white; /* Ensure both header and cell text are white */
    white-space: nowrap;    
}

.table tbody tr {
    color: white; /* Set the text color for rows in the body */
}

.compareButton {
    padding: 0 5px;
    margin: 10 0px;
}

.back-button {
    display: none;
}

.selected-player {
    background-color: #d1e7dd; /* Light green background */
    font-weight: bold;
}
