body {
    background: #352f5b;
}

.container {
    max-width: 400px;
    margin-top: 20px;
}

input[type="text"],
input[type="text"]:focus {
    color: #fff;
    border: none;
    background: rgba(0, 0, 0, 0.2);
}

.players {
    max-height: 300px; /* Set the maximum height of the list */
    overflow-y: auto;  /* Enable vertical scrolling */
    margin-top: 20px;
    padding-left: 0;
}

.players li {
    background: #423a6f;
    cursor: pointer;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    list-style: none;
}

.similar-players-section {
    display: none; /* Initially hidden */
}

.similar-players {
    max-height: 200px; /* Set max height for scrolling */
    overflow-y: auto;  /* Enable vertical scrolling */
    padding-left: 0;
}

.similar-players li {
    background: #4b437e;
    cursor: pointer;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    list-style: none;
}

.filtered {
    display: none !important;
}

.cross {
    display: none; /* Hide cross icon by default */
    cursor: pointer;
}

.players li.selected .cross {
    display: inline; /* Show cross icon only when the item has the 'selected' class */
}

button.compare-button {
    background: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button.compare-button:hover {
    background: #218838;
}

.comparison-table-section {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
}

table th {
    background-color: #4b437e;
    color: #fff;
}

.compareButton {
    padding: 0 5px;
    margin: 10 0px;
}